@font-face {
  font-family: 'Roboto-Bold', sans-serif;
  src: url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../fonts/MontserratSubrayada-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
